<div class="main" {{ attributes }}>
    <div class="picture title">
        <div class="item-sd">
            <figure>
                {{ drupal_field('field_fondo', 'taxonomy_term', 39, {type: 'image', settings: {image_style: '604x476'}}) }}
            </figure>
            <div class="text">
                <h2>
                    <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': '39'}) }}">
                        {{ drupal_field('name', 'taxonomy_term', '39') }}
                    </a>
                </h2>
            </div>
        </div>    
    </div>
    <div class="box-content">
        <div class="box">
            <div class="contenido">{{ drupal_view('contenidos', 'block_1', '39') }}</div>
        </div>
    </div>
</div>