<div class="item">
    <div>
        <h3 class="title">{{ fields.title.content }}</h3>
        <div class="description">{{ fields.body.content }}</div>
        <div class="info">
            <span class="author">{{ fields.field_nombre.content }}</span>
        </div>
        <date>{{ fields.created.content }}</date>
        <div class="download">{{ fields.field_documento_adjunto.content }}</div>
    </div>
</div>